@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(bg.png);
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner #text{
  position: relative;
  font-size: 12rem;
  color: #fff;
}

.banner .clouds{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.banner .clouds img{
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(2s * var(--i)) linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
    transform: scale(1);
  }
  25%,75%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
    transform: scale(1.5);
  }
}

section{
  position: relative;
  padding: 75px 100px;
}

section h2{
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
