body{
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container{
  position: relative;
  display: inline-block;
}

img{
  width: 100px;
  height: 100px;
  position: relative;

}

.container {  
  will-change: transform;
  position: absolute;
  animation: x 5s cubic-bezier(.33,-0.79,.5,1.83) forwards;
  /* animation-timing-function: cu; */
}

.star-five {
  content: "";
  display: block;
  will-change: transform;
  animation: y 5s cubic-bezier(.23,7,.63,7) forwards;
}

@keyframes x{
  0%{
    transform: translate(20vw,0) rotate(0);
  }
  20%{
  }
  50%{
  }
  100%{
    transform: translate(-10vw,0) rotate(360deg);
   }
}

@keyframes y{
  0%{
    transform: translate(0,-30vh);
    }
    50%{
    }
  100%{
    transform: translate(0,-20vh);

   }
}