body{
    background-color: #e2e2e2;
    margin: 0;
}

#navigation_bar{
    background-color: #4e5944;
    display: flex; 
    height: 140px;
    justify-content: center;
}

#navigation_bar img{
    padding: 48px 60px 40px 120px;
}

.nav_list{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 60px;
    color: white;
}
.nav_list li{
    padding: 12px;
    text-align: center;
}



#section_1{
    border: 1px black solid;
    display: flex;
    justify-content: center;
}

.alignCenter{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.someText{
    background-color: whitesmoke;
    margin: 0;
    width: 100%;
}

ul{
    display: flex;

}