
.contents{
  display: flex;
}

.githtml{
  width: auto;
  height: auto;
}

.gitlists{
  width: 240px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 20px;
}

.gitlist{
  margin: 10px 30px;
  padding: 5px 0;
  background: #999;
  border-radius: 5px;
}

.header{
  padding: 36px;
  display: flex;
  text-align:center;
  align-items: center;
}