.main_content{
    display: flex;
}

section{
}

.hiden{
    display: none;
}

.menu{
    display: flex;
}

li{
    padding: 24px;
    list-style: none;
}

#mainContent{
    display: flex;
    flex-flow: row nowrap;
}

#chartContainer{

}

#content{

}